html { 
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

h1 { 
	color: #e74c3c;
	margin: 0;
}

.hidden {
	display: none;
}

.button {
	color: white;
	font-size: 22px;
	padding: 10px 20px 10px 20px;
	border-radius: 3px;
	text-decoration: none;
	transition: all 0.225s ease;
	text-transform: uppercase;
}

.button:hover {
	opacity: 0.80;
}

#startButton, #breakButton {
	background: #27ae60;
}

#stopButton {
	background: #e74c3c;
}

#pomodoroTimer {
	margin-top: -7px;
	font-size: 40px;
}

.wrapper {
	padding: 15px 20px 15px 20px;
	background: #ecf0f1;
	border-radius: 3px;
	width: 250px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 45px;
}

.altText {
	color: grey;
	font-size: 14px;
	margin: 15px 0 0 0;
}

.amount {
	margin-top: 0px;
}

#byLine {
	position: absolute;
	bottom: 0;
	right: 10px;
	text-decoration: none;
	color: black;
	opacity: 0.4;
	line-height: 0;
	overflow: hidden;
	padding-left: 10px;
	transition: all 0.225s ease;
}

#byLine:hover {
	opacity: 0.6;
}

#github {
	width: 40px;
}

#name {
	position: relative;
	bottom: 13px;
	right: 8px;
}

#demo {
	display: block;
	margin-top: 20px;
	font-size: 12px;
	text-decoration: none;
	color: #34495e;
}

#demo:hover {
	text-decoration: underline;
}